body { 
    height:100vh; 
    width: 100%;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.sidebarmenu{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    background-color: blueviolet
}
.itemlist a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
.itemlist{
    display: flex;
    align-items:flex-end    ;
    justify-content: flex-start;
    gap: 16px;
    padding: 4px;
    margin-left: 12px;
    max-width: 80%;
    /* background-color: gray; */
}
.itemlist div{
    /* background-color: blue; */
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: auto;
    margin: 0;
    padding: 0;
}

/* ---------logo shapes */
.tittle a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
.tittle{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 8px;
    margin: 20px 0px 10px 0px;
    padding: 8px;
    max-width: 200px;
    height: 50px;
}
.square{
    display: grid;
    grid-template-areas: 
    "a b"
    "c b"
    "c d";
    width: 40px;
    height: 40px;
    padding: 2px;
    gap: 2px;
    /* background-color: blue; */
}
.part{
    max-width: 40px;
    height:auto;
    background-color: aliceblue;
    border-radius: 1px;
}
/* end logo shappes */
.aa{
    grid-area: a;
}
.bb{
    grid-area: b;
}
.cc{
    grid-area: c;
}
.dd{
    grid-area: d;
}
.content{
    background-color: gray  ;
    width: 100%;
}
.navbar{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;

}
.rownav{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: pink; */
}
.rownav .bi{
    font-size:1.1rem;
}
.rownav1{  
    gap: 16px;
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: flex-end;
    padding-right: 40px;
    /* background-color: yellow; */
}
.rownav2 {
    gap: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
    /* background-color: red; */
    margin-left: 40px;
}
.rownav3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    width: 60%;
    /* background-color: red; */
    margin-left: 40px;
}
.imagen1 img{
    width: 70px;
    /* background-color: pink; */
    margin-left: -10px;
}
.names{
    gap: 0;    
    padding: 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    height: auto;
    /* align-content: center; */
    /* background-color: red; */
}
.rownav3 p{
    /* background-color: pink; */
    margin: 0 0px;
    font-weight: 500;
    font-size: 16px;
}
.rownav3 h4{
    /* background-color: pink; */
    margin: 0 0px;
    font-weight: 200;
}
.buttons{
    background-color: blueviolet;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    padding: 0 12px 0 12px;
}
.rownav2 input{
    width: 500px;
    border: none;
    border-radius: 12px;
    margin-right: 16px;
    background-color: lightgray;
}
.odinimagen img{
    width: 55px;
    height: auto;
    /* background-color: aqua; */
}
.tittle2{
    display: flex;
    align-items: flex-end;
    /* justify-content: flex-start; */
    flex-direction: row;
}

.content2{
    overflow: auto;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    background-color: pink;
}
.projects{
    display: grid;
    grid-template-columns: minmax(200px, 700px);
    grid-template-rows: auto;
}
.projects2{
    overflow: auto;
    display: grid;
    gap: 12px;
    padding: 12px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 
        repeat(auto-fit, minmax(200px, 45%));
    justify-content: center;
    background-color: aqua;
    text-align: start;
}
.projectp{
    background-color: #444 ;
    display: flex;
    align-items: flex-end;
    /* align-content: flex-end; */
    /* padding: 0 px; */
}
.projectsp p{
    background-color: red;
    margin: 20px 0px 0px 12% ;
}
.space{
    background-color: red;
    height: 1px;
    margin: 0px;
    padding: 0px;
}
.projectbox{
    background-color: #444;
    text-align: center;
    color: #ddd;
    font-family: sans-serif;
    font-size: 1.5rem;
    padding: 12px;
}
.news{
    width: 30vh;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 600px){
    .dropdown{
        display:none;
    }
    .tittle2{
        display:none;
    }
}
@media screen and (max-width: 600px){
    .part{
        background-color: lightgray;
    }
    .space{
        display: none;
        height: 0px;
    }
    .itemrowhide{
        display: none;
        width: 0;
        height: 0;
    }
    .sidebarmenu{
        display: none;
        width: 0;
        height: 0;
    }
}
@media screen and (max-width: 993px){
    .space{
        display: none;
        height: 0px;
    }
    .odinimagen img{
        width: 45px;
        height: auto;
    }
    .sidebarmenu a{
        font-size: 0.8rem;
    }
    .itemlist{
        margin: 0;
    }
    .rownav{
        gap: 0;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 0px;
        margin: 0px;
        width: 100%;
    }
    .rownav2{
        gap: 0;
        align-items: center;
        justify-content: center;
        padding: 0px;
        margin: 0px;
        width: 100%;
    }
    .rownav1{
        width: 100%;
        gap: 0;
        padding: 0px;
        margin: 0px;
        justify-content: space-evenly;
        align-items: center;
    }
    .rownav3{
        gap: 0;
        display: none;
        width: 0;
        height: 0;
    }
    .rownav2 input{
        gap: 0;
        width: 80%;
        padding: 2px;
        margin: 8px;
    }
    .bi{
        font-size: 16px;
    }
}