body{ 
    height:100%; 
    width: 100%;
    margin: 0px;
    padding: 0px;
    /* text-align: center; */
}
.container{
    height: 100%;
    width: 100%;
    /* margin: 0;
    padding: 0; */
    display: flex;
    flex-direction: row;
}
.sidebarmenu{
    display: flex;
    flex-direction: column;
    width: 25%;
    /* height: 100vh; */
    background-color: blueviolet
}
.itemlist a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
.itemlist{
    display: flex;
    align-items:flex-end    ;
    justify-content: flex-start;
    gap: 16px;
    padding: 4px;
    margin-left: 12px;
    max-width: 80%;
    /* background-color: gray; */
}
.itemlist div{
    /* background-color: blue; */
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: auto;
    margin: 0;
    padding: 0;
}

/* ---------logo shapes */
.tittle a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
.tittle{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 8px;
    margin: 20px 0px 10px 0px;
    padding: 8px;
    max-width: 200px;
    height: 50px;
}
.square{
    display: grid;
    grid-template-areas: 
    "a b"
    "c b"
    "c d";
    width: 40px;
    height: 40px;
    padding: 2px;
    gap: 2px;
    /* background-color: blue; */
}
.part{
    max-width: 40px;
    height:auto;
    background-color: aliceblue;
    border-radius: 1px;
}
/* end logo shappes */
.aa{
    grid-area: a;
}
.bb{
    grid-area: b;
}
.cc{
    grid-area: c;
}
.dd{
    grid-area: d;
}
.content{
    background-color: gray  ;
    width: 100%;
}
.navbar{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow:0px 3px 2px rgb(223, 220, 220)
}
.rownav{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: pink; */
}
.rownav .bi{
    font-size:1.1rem;
}
.rownav1{  
    gap: 16px;
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: flex-end;
    padding-right: 40px;
    /* background-color: yellow; */
}
.rownav2 {
    gap: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
    /* background-color: red; */
    margin-left: 40px;
}
.rownav3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    width: 60%;
    /* background-color: red; */
    margin-left: 40px;
}
.imagen1 img{
    width: 70px;
    /* background-color: pink; */
    margin-left: -10px;
}
.names{
    gap: 0;    
    padding: 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    height: auto;
    /* align-content: center; */
    /* background-color: red; */
}
.rownav3 p{
    /* background-color: pink; */
    margin: 0 0px;
    font-weight: 500;
    font-size: 16px;
}
.rownav3 h4{
    /* background-color: pink; */
    margin: 0 0px;
    font-weight: 200;
}
.buttons{
    background-color: blueviolet;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    padding: 0 12px 0 12px;
}
.rownav2 input{
    width: 500px;
    border: none;
    border-radius: 12px;
    margin-right: 16px;
    background-color: lightgray;
}
.odinimagen img{
    width: 55px;
    height: auto;
    /* background-color: aqua; */
}
.tittle2{
    margin-left: 12px;
    display: flex;
    align-items: flex-end;
    /* justify-content: flex-start; */
    flex-direction: row;
}
.content2{
    padding-top: 16px;
    overflow: auto;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(245, 239, 239);
}
.projects{
    /* display: grid;
    grid-template-columns: minmax(200px, 700px);
    grid-template-rows: auto; */
}
.projects2{
    overflow: auto;
    display: grid;
    gap: 12px;
    padding: 12px;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-columns: 
        repeat(auto-fit, minmax(200px, 48%));
    justify-content: center;
    /* background-color: aqua; */
    text-align: start;
}
.projects2 p:first-child{
    font-weight: bolder;
    padding-top: 8px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.tittleprojects{
    /* gap: 12px; */
    /* background-color:  green; */
    /* height: 40px; */
}
.projectp{
    gap: 12px;
    padding: 22px 0px 1px 20px;
    width: 45%;
    height: 40px;
    display: flex;
    align-items: flex-end;
    /* background-color: greenyellow; */
}
.projectp p{
    /* background-color: red; */
    margin: 0px;
    font-size: 16px;
    font-weight: bold;
}
.shadowbox{
    border-radius: 8px;
    box-shadow: 
        inset 10px 0px orange,
        2px 3px 2px rgb(223, 220, 220);    
    display: flex;
    justify-content: flex-end;
}
.projectbox{
    width: 97%;
    background-color: white;
    color: black;
    font-family: sans-serif;
    font-size: 1.5rem;
    padding: 12px;
    font-size: 14px;
    border-radius: 0px 8px 8px 0px;
}
.projectbox div{
    gap: 8px;
    font-weight: bolder;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.projectbox div a{
    text-decoration: none;
    color: black;
}
.news{
    width: 45vh;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}
.announcements{
    display: flex;
    flex-direction: column; 
    margin-right: 12px; 
}
.tittlenews{
    gap: 12px;
    padding: 22px 0px 1px 0px;
    width: 45%;
    height: 40px;
    display: flex;
    align-items:flex-end;
    /* background-color: greenyellow; */
}
.tittlenews p{
    /* background-color: yellow; */
    font-size: 16px;
    margin: 0px;
    font-weight: bold;
}
.news2{
    width: 40vh;
    display: flex;
    flex-direction: column;
    margin: 12px;
    padding: 4px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 3px rgb(223, 220, 220)
}
.announc1{
    /* background-color: rebeccapurple; */
}
.spacenews{
    width: 30vh;
    height: 1px;
    border: 1px solid lightgray;
}
.announc1 p:first-child{
    font-weight: bolder;
    padding-top: 8px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.trenprofile{
    display: grid;
    grid-template-areas: 
    "a b b b"
    "a c c c";
    justify-content: start;
}

.trenprofile p:nth-child(2){
    grid-area: b;
    padding: 0;
    margin-top: 0px;
    /* background-color: aqua; */
    position: relative;
    top: 50%;
    height: 16px;
    font-weight: bold;
}
.trenprofile p:nth-child(3){
    grid-area: c;
    padding: 0;
    margin-top: 0px;
    /* background-color: blue; */
}
.trenprofile p{
    padding: 0px;
    margin: 0px;
}
.trenprofile img{
    grid-area: a;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 12px;
    margin-bottom: 12px;
}
.footer{
    width: 100%;
    background-color: #1f2937;
    text-align: center;
    font-size: 12px;
    padding: 1%;
    color: #e5e7eb;
    align-self: center;
    /* margin-left: 9%; */
}
button{
    border: 1px solid #1f2937;
    background-color: #1f2937;
    border-radius: 10px;
    color: #e5e7eb;
}
@media screen and (min-width: 600px){
    .dropdown{
        display:none;
    }
    .tittle2{
        display:none;
    }
}
@media screen and (max-width: 600px){
    .footer{
        margin-top: 10px;
        width: 100%;
    }
    .projectp p{
        margin-left: -20px;
    }
    .part{
        background-color: lightgray;
    }
    .space{
        display: none;
        height: 0px;
    }
    .itemrowhide{
        display: none;
        width: 0;
        height: 0;
    }
    .sidebarmenu{
        display: none;
        width: 0;
        height: 0;
    }
    .projects2{
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 
        repeat(2, minmax(110px, 49%));
        height: 250px;
        /* overflow: auto; */
    }
    .content2{
        overflow: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .news{
        width: 25%;
    }
}
@media screen and (max-width: 993px){
    .projects2{
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 
        repeat(2, minmax(100px, 48%));
    }
    .space{
        display: none;
        height: 0px;
    }
    .odinimagen img{
        width: 45px;
        height: auto;
    }
    .sidebarmenu a{
        font-size: 0.8rem;
    }
    .itemlist{
        margin: 0;
    }
    .rownav{
        gap: 0;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 0px;
        margin: 0px;
        width: 100%;
    }
    .rownav2{
        gap: 0;
        align-items: center;
        justify-content: center;
        padding: 0px;
        margin: 0px;
        width: 100%;
    }
    .rownav1{
        width: 100%;
        gap: 0;
        padding: 0px;
        margin: 0px;
        justify-content: space-evenly;
        align-items: center;
    }
    .rownav3{
        gap: 0;
        display: none;
        width: 0;
        height: 0;
    }
    .rownav2 input{
        gap: 0;
        width: 80%;
        padding: 2px;
        margin: 8px;
    }
    .bi{
        font-size: 16px;
    }
}